* {
    box-sizing: border-box;
    background-color: #121212;
    color: aliceblue;
}

#index h1 {
    color: red;
}

#sociedad h1 {
    color: blue;
}

#internacional h1 {
    color: green;
}

.cursiva {
    font-style: italic;
}

.verde {
    color: aquamarine;
}

.rojo {
    color: indianred;
}

article {
    border: 2px purple dashed;
    margin: 10px;
    padding: 20px;
}

article h2, h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: palegreen;
}

nav ul li a:hover {
    text-decoration: none;
    color: lawngreen;
    font-size: 25px;
}

body {
    display: grid;
    grid-template-columns: auto 1000px auto;
}

header {
    display: grid;
    grid-column: 1 / span 3;
}

nav {
    display: grid;
    grid-column: 1 / span 3;
}

main {
    display: grid;
    grid-column: 2;
}